.editor-area {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    margin: 1rem 0;
    box-shadow: 0 0 0.5rem var(--accent);
}

.editor-area .header-bar {
    text-align: center;
}

.editor-area textarea {
    background-color: calc(var(--primary));
    width: 27.5rem;
    min-width: 27.5rem;
    min-height: 50vh;
    resize: none;
    height: 100%;
    border: 0;
    outline: none;
}

@media only screen and (min-width: 820px) {
    .editor-area {
        margin: 1rem;
        margin-right: 0;
        min-height: 90vh;
    }

    .editor-area textarea {
        resize: horizontal;
        max-width: 70vw;
        min-width: 50vw;
    }
}


