.editor-area {
    background-color: var(--primary);
    flex-basis: 50%;
    margin: 1rem;
    margin-right: 0;
    box-shadow: 0 0 0.5rem var(--accent);
}

.editor-area .header-bar i {
    display: inline;
}

.editor-area textarea {
    background-color: calc(var(--primary));
    max-width: 70vw;
    min-width: 50vw;
    height: 90vh;
    border: 0;
    outline: none;
}