.editor-area {
    background-color: blanchedalmond;
    width: fit-content;
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
}

.editor-area .header-bar {
    background-color: rgb(218, 202, 178);
    border-radius: 0.5rem 0.5rem 0 0;
}

.editor-area .header-bar p {
    margin-left: 1rem;
}

.editor-area textarea {
    background-color: rgb(241, 223, 196);
    max-width: 70vw;
    min-width: 50vw;
    height: 45vh;
    margin: 0.5rem;
    border: 0;
}