.guide-area {
    background-color: blanchedalmond;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    flex-basis: 20%;
    flex-grow: 1;
}

.guide-area .header-bar {
    background-color: rgb(218, 202, 178);
    border-radius: 0.5rem 0.5rem 0 0;
}

.guide-area .header-bar p {
    margin: 0;
    margin-left: 1rem;
}