.header-bar {
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    border-bottom: none;
    color: var(--primary);
}

.header-content {
    padding: 0.5rem 1.5rem;
    padding-left: 0;
}

.header-bar i:not(.button-icon) {
    display: inline;
    margin-left: 1.5rem;
}

.title {
    display: inline;
    margin: 0;
    margin-left: 0.5rem;
    flex-grow: 1;
}

.button-icon {
    color: var(--primary);
}

.button-icon:hover {
    color: #7adbe2;
}

.button {
    background: none;
    padding: 0;
    border: 0;
    width: 1.5rem;
}

.button:hover {
    cursor: pointer;
}