.header-bar {
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    border-bottom: none;
    color: var(--primary);
}

.header-bar p {
    padding: 0.6rem 0;
    margin: 0;
}

.header-bar i {
    margin-left: 1rem;
}

.header-bar span {
    margin-left: 0.5rem;
}