.preview-container {
    box-shadow: 0 0 0.5rem var(--shadow);
    margin: 1rem 0.35rem;
    width: 20rem;
    transition: width 0.5s;
    transition-delay: 0.1s;
}

.preview-area {
    background-color: var(--primary); 
    height: 80vh;
    overflow: auto;
}

.preview-area .header-bar {
    text-align: center;
}

@media screen and (min-width: 1080px) {
    .preview-container {
        min-width: 50%;
        margin-left: 1rem;
        margin-top: 1.25rem;
    }

    .preview-area {
        height: 90vh;
    }
}

@media screen and (min-height: 1080px) {
    .preview-area {
        height: 92vh;
    }
}

/* Markdown preview area */
.markdown {
    padding: 2rem;
    padding-top: 1rem;
}

.markdown table {
    border-spacing: 0;
    border-collapse: collapse;
}

.markdown td, .markdown th {
    padding: 0.25rem;
    border: 1px solid;
}

.markdown blockquote {
    background-color: var(--accent);
    border-left: 10px solid var(--secondary);
    padding: 0.15rem 0.5rem;
}

.markdown img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
}

.markdown code, .markdown pre {
    white-space: pre-wrap;
    background-color: var(--accent);
}