.preview-area {
    background-color: var(--primary);
    margin-bottom: 1rem;
    min-width: 27.5rem;
    max-width: 27.5rem;
    min-height: 50vh;
    box-shadow: 0 0 0.5rem var(--accent);
}

.preview-area .header-bar {
    text-align: center;
}

@media only screen and (min-width: 820px) {
    .preview-area {
        margin: 1rem;
        margin-left: 0;
        flex-basis: 50%;
        min-width: unset;
        max-width: 50vw;
    }
}


.markdown {
    padding: 4rem;
    padding-top: 1rem;
}

.markdown table {
    border-spacing: 0;
    border-collapse: collapse;
}

.markdown td, .markdown th {
    padding: 0.25rem;
    border: 1px solid;
}

.markdown blockquote {
    background-color: var(--accent);
    border-left: 10px solid var(--secondary);
    padding: 0.15rem 0.5rem;
}

.markdown img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
}

.markdown code, .markdown pre {
    white-space: pre-wrap;
    background-color: var(--accent);
}