.preview-area {
    background-color: var(--primary);
    flex-basis: 50%;
    margin: 1rem;
    margin-left: 0;
    min-height: 45vh;
    box-shadow: 0 0 0.5rem var(--accent);
}

.preview-area .header-bar {
    text-align: center;
}

.preview-area .header-bar p {
    margin: 0;
}

.markdown {
    padding: 4rem;
    padding-top: 1rem;
}

.markdown table {
    border-spacing: 0;
    border-collapse: collapse;
}

.markdown td, .markdown th {
    padding: 0.25rem;
    border: 1px solid;
}

.markdown blockquote {
    background-color: var(--accent);
    border-left: 10px solid var(--secondary);
    padding: 0.15rem 0.5rem;
}

.markdown img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
}

.markdown code, .markdown pre {
    background-color: var(--accent);
}